@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Forum", cursive;
}

.container {
  margin: 30px auto;
  width: 50%;
}

.balance {
  color: blue;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.inc-exp-container {
  background: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 22px;
  letter-spacing: 1px;
  /* margin: 5px 0; */
}

.red {
  padding: 8px 10px;
  background: #e3766a;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 10px;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background: #222;
  color: #fff;
  box-shadow: var(--box-shadow);
  border: 0;
  display: block;
  font-size: 1rem;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 12px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-120%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
